.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    background-color: black;
}

.item2x2 {
/*     grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / span 2;
/*     grid-column-start: 1;
    grid-column-end: 3; */
    background-color: red;
}

.item {
    background-color: blue;
}